<?xml version="1.0" encoding="utf-8"?>
<!--
  Production environment configuration
  This file contains settings specific to the production environment
-->
<configuration>
  <appSettings>
    <add key="Environment" value="Production" />
    <add key="ApiBaseUrl" value="https://api.cafemenu.com" />
    <add key="LogLevel" value="Error" />
    <add key="EnableDetailedErrors" value="false" />
  </appSettings>
  
  <connectionStrings>
    <add name="CafeMenu" connectionString="metadata=res://*/CafeMenuModel.csdl|res://*/CafeMenuModel.ssdl|res://*/CafeMenuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=prod-server;initial catalog=CafeMenu_Prod;user id=produser;password=prodpass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CafeMenuEntities" connectionString="metadata=res://*/CafeMenuModel.csdl|res://*/CafeMenuModel.ssdl|res://*/CafeMenuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=prod-server;initial catalog=CafeMenu_Prod;user id=produser;password=prodpass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <customErrors mode="On" />
  </system.web>
</configuration>