<?xml version="1.0" encoding="utf-8"?>
<!--
  Development environment configuration
  This file contains settings specific to the development environment
-->
<configuration>
  <appSettings>
    <add key="Environment" value="Development" />
    <add key="ApiBaseUrl" value="https://dev-api.cafemenu.local" />
    <add key="LogLevel" value="Debug" />
    <add key="EnableDetailedErrors" value="true" />
  </appSettings>
  
  <connectionStrings>
    <add name="CafeMenu" connectionString="metadata=res://*/CafeMenuModel.csdl|res://*/CafeMenuModel.ssdl|res://*/CafeMenuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=CafeMenu_Dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CafeMenuEntities" connectionString="metadata=res://*/CafeMenuModel.csdl|res://*/CafeMenuModel.ssdl|res://*/CafeMenuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=CafeMenu_Dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <customErrors mode="Off" />
  </system.web>
</configuration>