<?xml version="1.0" encoding="utf-8"?>
<!--
  Test environment configuration
  This file contains settings specific to the test environment
-->
<configuration>
  <appSettings>
    <add key="Environment" value="Test" />
    <add key="ApiBaseUrl" value="https://test-api.cafemenu.local" />
    <add key="LogLevel" value="Info" />
    <add key="EnableDetailedErrors" value="true" />
  </appSettings>
  
  <connectionStrings>
    <add name="CafeMenu" connectionString="metadata=res://*/CafeMenuModel.csdl|res://*/CafeMenuModel.ssdl|res://*/CafeMenuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test-server;initial catalog=CafeMenu_Test;user id=testuser;password=testpass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CafeMenuEntities" connectionString="metadata=res://*/CafeMenuModel.csdl|res://*/CafeMenuModel.ssdl|res://*/CafeMenuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test-server;initial catalog=CafeMenu_Test;user id=testuser;password=testpass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <customErrors mode="RemoteOnly" />
  </system.web>
</configuration>