<?xml version="1.0" encoding="utf-8"?>
<!-- Development Environment Configuration -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!-- Development Database -->
    <add name="CafeMenu" 
         connectionString="metadata=res://*/CafeMenuModel.csdl|res://*/CafeMenuModel.ssdl|res://*/CafeMenuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=CafeMenu_Dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(name)" />
    <add name="CafeMenuEntities" 
         connectionString="metadata=res://*/CafeMenuModel.csdl|res://*/CafeMenuModel.ssdl|res://*/CafeMenuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=CafeMenu_Dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <appSettings>
    <!-- Development specific settings -->
    <add key="Environment" value="Development" xdt:Transform="Insert" />
    <add key="LogLevel" value="Debug" xdt:Transform="Insert" />
    <add key="ApiBaseUrl" value="https://localhost:44367/api/" xdt:Transform="Insert" />
    <add key="ExchangeRateApiKey" value="dev-api-key-here" xdt:Transform="Insert" />
    <add key="CacheEnabled" value="false" xdt:Transform="Insert" />
    <add key="DetailedErrors" value="true" xdt:Transform="Insert" />
  </appSettings>
  
  <system.web>
    <!-- Enable debug mode for development -->
    <compilation debug="true" xdt:Transform="SetAttributes" />
    
    <!-- Disable custom errors in development -->
    <customErrors mode="Off" xdt:Transform="Insert" />
    
    <!-- Enable trace for debugging -->
    <trace enabled="true" pageOutput="false" requestLimit="1000" localOnly="false" xdt:Transform="Insert" />
  </system.web>
  
  <system.webServer>
    <!-- Development specific modules -->
    <modules>
      <add name="DevelopmentModule" type="CafeMenu.Infrastructure.DevelopmentModule" xdt:Transform="Insert" />
    </modules>
  </system.webServer>
</configuration>