<?xml version="1.0" encoding="utf-8"?>
<!-- Test Environment Configuration -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!-- Test Database -->
    <add name="CafeMenu" 
         connectionString="metadata=res://*/CafeMenuModel.csdl|res://*/CafeMenuModel.ssdl|res://*/CafeMenuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=test-sql-server.database.windows.net;Database=CafeMenu_Test;User ID=testuser;Password=TestPass123!;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(name)" />
    <add name="CafeMenuEntities" 
         connectionString="metadata=res://*/CafeMenuModel.csdl|res://*/CafeMenuModel.ssdl|res://*/CafeMenuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=test-sql-server.database.windows.net;Database=CafeMenu_Test;User ID=testuser;Password=TestPass123!;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <appSettings>
    <!-- Test specific settings -->
    <add key="Environment" value="Test" xdt:Transform="Insert" />
    <add key="LogLevel" value="Information" xdt:Transform="Insert" />
    <add key="ApiBaseUrl" value="https://cafemenu-test.azurewebsites.net/api/" xdt:Transform="Insert" />
    <add key="ExchangeRateApiKey" value="test-api-key-here" xdt:Transform="Insert" />
    <add key="CacheEnabled" value="true" xdt:Transform="Insert" />
    <add key="DetailedErrors" value="true" xdt:Transform="Insert" />
    <add key="TestDataSeed" value="true" xdt:Transform="Insert" />
  </appSettings>
  
  <system.web>
    <!-- Disable debug mode for test -->
    <compilation debug="false" xdt:Transform="SetAttributes" />
    
    <!-- Custom errors for test environment -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error" xdt:Transform="Insert">
      <error statusCode="404" redirect="~/Error/NotFound" />
      <error statusCode="500" redirect="~/Error/ServerError" />
    </customErrors>
    
    <!-- Authentication timeout for test -->
    <authentication mode="Forms">
      <forms timeout="120" xdt:Transform="SetAttributes" />
    </authentication>
  </system.web>
  
  <system.webServer>
    <!-- Test environment modules -->
    <modules>
      <add name="TestModule" type="CafeMenu.Infrastructure.TestModule" xdt:Transform="Insert" />
    </modules>
    
    <!-- HTTP headers for test -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Environment" value="Test" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>